@model IEnumerable<DataAccessLayer.Models.Producto>
@{
    ViewBag.Title = "VerCarrito";
}

<form method="post">
    <div class="row">
        <table class="table" id="tablaProductos">
            <thead>
                <tr>
                    <th>ProductoID</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Presentacion</th>
                    <th>Precio</th>

                </tr>
            </thead>
            <tfoot>
            </tfoot>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductoID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Presentacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="cantidadTxt" class="control-label col-md-2">Cantidad</label>
                            <div class="col-md-2">
                                <input id="cantidadTxt" value="1" type="number" class="form-control" name="cantidadTxt">
                            </div>
                            <div class="col-md-2">
                                <input type="submit" name="btnSubmitNombre" value="Editar" class="btn btn-success" />
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
            }
        </table>
        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="SubtotalTxt" class="control-label col-sm-2">SubTotal</label>
                    <div class="col-sm-2">
                        <input id="SubtotalTxt" value="@Session["CarritoSub"]" type="text" class="form-control" name="SubtotalTxt">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="TotalTxt" class="control-label col-sm-2">Total</label>
                    <div class="col-sm-2">
                        <input id="TotalTxt" value="@Session["CarritoTotal"]" type="text" class="form-control" name="TotalTxt">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="col-sm-6">
                    <input type="submit" name="btnSubmitCompra" value="Comprar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</form>



