@model IEnumerable<DataAccessLayer.Models.Producto>
@{
    ViewBag.Title = "VerCarrito";
}


<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-xs-2 catalogo">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="~/images/productos/11309649-5684484572839147.jpg" alt="Card image cap" height="200" width="180">
                <div class="card-body">
                    <p class="card-text textoTarjeta">@Html.DisplayFor(modelItem => item.Nombre)</p>
                    <p class="card-text textoTarjeta">@Html.DisplayFor(modelItem => item.Presentacion)</p>
                    <p class="card-text textoTarjeta">@Html.DisplayFor(modelItem => item.Categoria)</p>
                    <p class="card-text textoTarjeta">@Html.DisplayFor(modelItem => item.Precio)</p>
                    

                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="form-horizontal">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="SubtotalTxt" class="control-label col-sm-6">SubTotal</label>
                <div class="col-sm-6">
                    <input id="SubtotalTxt" value="@Session["CarritoSub"]" type="number" class="form-control" name="SubtotalTxt" />
                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="form-group">
                <label for="TotalTxt" class="control-label col-sm-6">Total</label>
                <div class="col-sm-6">
                    <input id="TotalTxt" value="@Session["CarritoTotal"]" type="number" class="form-control" name="TotalTxt" />
                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="form-group">
                <div class="col-sm-6">
                    @Html.ActionLink("Realizar Compra", "RealizarCompra", "Carrito");

                </div>
            </div>
        </div>
    </div>
</div>
